// @import 'color';
$lightGreen: #e7f5f2;
$pink: #f9c7cf;
$middleGreen: #12776f;
$darkGreen: #0f4137;
$forestGreen: #0D512F;
$shimringBlush: #D97E96;
$parmLeaf: #699444;

.parkContainer {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: calc(100% - 20px);
  margin: 10px;
  border: 1px solid $middleGreen;

  .Box {
    width: 100%;
  }

  img {
    width: 100%;
  }
}

@media screen and (min-width: 600px) {
  .parkContainer {
    flex-direction: row;

    .Box {
      width: 50%;
      padding: 10px;
    }
  }
}
