@import "../scss/color.scss";
@import "../scss/fonts.scss";

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: $paleSilverPink;
  background: linear-gradient(to left, $palePurple 0%, $paleSilverPink 50%, $palePink 100%);
}

.pageContent {
  box-sizing: border-box;
  width: 100%;
}

.pageContentLeft {
  padding: 0;
  width: 100%;
  position: absolute;
  top: calc(350px + 150px + 60px + 20px);
}

.pageContentRight {
  width: 100%;
  height: 50px;
  top: auto;
  display: block;
  margin-top: 10px;
}

.mapStyles {
  width: calc(100% - 20px);
  height: 400px;
  display: block;
  margin: 0 10px 10px 10px;
}

.parkContainer {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: calc(100% - 20px);
  margin: 0 10px 10px 10px;
  // border: 1px solid $middleGreen;
  background: #fff;
  // box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  .Box {
    width: 100%;
  }

  img {
    width: 100%;
    height: 120px;
    object-fit: cover;
  }

  h2 {
    padding-left: 5px;
    margin-top: 0;
    font-family: $quicksand;
  }

  p {
    padding-left: 5px;
    font-family: $openSans;
    font-size: 14px;
  }
}

@import "../scss/media-querys.scss";
