@import "../scss/color.scss";
@import "../scss/fonts.scss";

@mixin button($color, $background) {
  background-color: $background;
  color: $color;
  width: 160px;
  padding: 10px;
  margin: 10px;
  font-size: 14px;
  font-family: $button;
  letter-spacing: 1px;
  text-decoration: none;
  border: none;
  border-radius: 24px;
}

.submitButton {
  @include button($primaryButtonColor, $primaryButtonBackgroundColor);

  &:hover {
      background-color: $primaryButtonBackgroundColorHover;
    }
}

.button {
  @include button($secondaryButtonColor, $secondaryButtonBackgroundColor);

  &:hover {
        background-color: $secondaryButtonBackgroundColorHover;
    }
}

// .button {
//   background: linear-gradient(45deg,
//  #ED1385 0%,
//  #D602F2 50%,
//  #3700FF 100%);
//  color: #fff;
//  width: 160px;
//  padding: 10px;
//  margin: 10px;
//  font-size: 14px;
//  font-family: $button;
//  letter-spacing: 1px;
//  text-decoration: none;
//  border: none;
//  border-radius: 24px;
// }
