@import "../scss/color.scss";
@import "../scss/fonts.scss";

.backgroundImage {
  background-image: url("/images/hero.jpg");
  height: 100vh;
  background-position: 63% 50%;
  background-repeat: no-repeat;
  background-size: cover;

  h1 {
    color: $lightGreen;
    text-align: center;
    position: absolute;
    top: 30px;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: $quicksand
  }

.container {
  align-items: center;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

    form {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      input {
        display: block;
        margin: 10px;
        width: 160px;
      }
    }
  }
}

@import "../scss/media-querys.scss";
