$lightGreen: #e7f5f2;
$pink: #f9c7cf;
$middleGreen: #12776f;
$darkGreen: #0f4137;
$forestGreen: #0D512F;
$shimringBlush: #D97E96;
$parmLeaf: #699444;

$primaryButtonColor: #DED0E2;
$primaryButtonBackgroundColor: #775B7C;
$primaryButtonBackgroundColorHover: #705475;

$secondaryButtonColor: #775B7C;
$secondaryButtonBackgroundColor: #DBC7E2;
$secondaryButtonBackgroundColorHover: #E1D3E5;

$pigletGradient: linear-gradient(to left, #ee9ca7, #ffdde1);


$palePurple: #977E9C;
$paleSilverPink: #CE9DB0;
$paleChestnut: #E5B0BC;
$palePink: #EEC4D2;
$paleLavender: #DBC7E2;
