$lightGreen: #e7f5f2;
$pink: #f9c7cf;
$middleGreen: #12776f;
$darkGreen: #0f4137;
$forestGreen: #0D512F;
$shimringBlush: #D97E96;
$parmLeaf: #699444;

$primaryButtonColor: #e7f5f2;
$primaryButtonBackgroundColor: #0D512F;
$primaryButtonBackgroundColorHover: #0A4226;

$secondaryButtonColor: #0D512F;
$secondaryButtonBackgroundColor: #e7f5f2;
$secondaryButtonBackgroundColorHover: #D7EDE8;
