@import url(https://fonts.googleapis.com/css?family=Lato|Open+Sans|Quicksand);

$lato: 'Lato', sans-serif;
$quicksand: 'Quicksand', sans-serif;
$openSans: 'Open Sans', sans-serif;
$button: 'Quicksand', sans-serif;
