@media screen and (min-width: 600px) {

//--------park-listing-page------------

  .pageContent {
    display: flex;
    flex-direction: row;
  }

  @mixin position($top) {
    padding: 0;
    width: 50%;
    position: absolute;
    top: $top;
    height: calc(100vh - 65px);
    overflow: scroll;
    display: block;
  }

  .pageContentLeft {
    @include position(100vh);
    margin-top: 10px;
    left: 0;
  }

  .pageContentRight {
    @include position(100vh);
    right: 0;
  }

  .parkContainer {
    flex-direction: row;
    height: 240px;

    .Box {
      width: 50%;
      padding: 10px;
    }

    img {
      height: 100%;
    }
  }

  //---------hero-------------

  .heroContainer {
    height: calc(100vh - 58px);

    h1 {
      position: absolute;
      top: 100px;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  //-------header------------
  .headerContainer {
    justify-content: space-between;

    input {
      margin: 10px;
      width: 160px;
    }
  }
}
