@media screen and (min-width: 600px) {

  .pageContent {
    display: flex;
    flex-direction: row;
  }

  @mixin position($top, $right) {
    padding: 0;
    width: 50%;
    position: absolute;
    top: $top;
    right: $right;
    height: calc(100vh - 65px);
    overflow: scroll;
    display: block;
  }

  .pageContentLeft {
    @include position(558, 558);
  }

  .pageContentRight {
    @include position(558, 0);
  }

  .parkContainer {
    flex-direction: row;

    .Box {
      width: 50%;
      padding: 10px;
    }
  }
}
